
body {
    background-color: rgb(255, 220, 173);
}
.wrapper{
    border: 2px;
    background-color: #fff;
    margin: 50px auto;
    border-radius: 5px;
    width: 600px;
}
img {
    width: 450px;
    border-radius:5px;
    position: relative;
    left: 70px;
    top: 20px; 
}

 h2, p{
   position: relative;
   left: 30px;
  
 }
.h3 {
    color: red;
    position: relative;
    left: 15px;
    
   }

   h3{
    color: rgb(120, 53, 5);
    position: relative;
    left: 36px;
   }
 .one {
    background-color: rgb(255, 210, 210);
    border-radius: 5px;
    width: 500px;
    position: relative;
    left: 30px;
    white-space: 20px;
 }

 article{
    position: relative;
    left: 30px;
 }

    section {
        position: relative;
    left: 8px;
    }

    .content1 {
        display: flex;
        justify-content: space-around;
    }

    .content3 {
        color:rgb(120, 53, 5) ;
    }
